* {
  box-sizing: border-box;
  font-family: 'Secular One', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(0, 0, 20);
  background-image: url("Imgs/img_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

body::before {
  content: "";
  width: 100%;
  min-height: 660vw;
  position:fixed;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  z-index: -1;
}

h1 {font-size: 50px; color:rgb(252, 252, 252)}
h2 {font-size: 40px; color:rgb(252, 252, 252)}
h3 {font-size: 35px; color:rgb(252, 252, 252)}
h4 {font-size: 12px; color:rgb(252, 252, 252)}
p {font-size: 20px; color:rgb(252, 252, 252)}


header .logo{
  margin: 0;
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 14vw;
}

span {
  color: rgb(0, 247, 255); 
  border: 7px double rgb(0, 62, 197);
  border-radius: 15%;
}

header {
  margin: 0;
  padding: 90px 2px 80px 2px;
  background-color: rgb(0, 0, 40);
  background-image: url("Imgs/img_header");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  border-bottom: 3px solid aqua;
  box-shadow: 7px blue;
}

header .links {
  padding: 15px 2px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .links a {
  padding: 10px 5px;
  text-decoration: none;
  color: rgb(226, 241, 255);
  font-size: 9vw;
  font-weight: bold;
}

header .nav_x_pag {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .nav_x_pag a {
  padding: 5px 0px;
  text-decoration: none;
  font-family:'Lobster', cursive;
  color: rgb(107, 201, 255);
  font-size: 8vw;
}

header a:hover {
  color: rgb(0, 68, 255);
}

.menu {
  margin: 0 auto;
  padding: 5px;
  size: 85vw;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu p {
  font-size: 4vw;
}

.menu h3 {
  font-family:'Lobster', cursive;
  font-size: 10vw;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: rgb(196, 255, 255);
}

.content {
  margin: 0;
  padding: 0px 3vw;
  padding-bottom: 3vw;
  size: 85vw;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content h1 {
  font-family:'Lobster', cursive;
  font-size: 10vw;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(196, 255, 255);
}

.content h2 {
  font-family:'Lobster', cursive;
  font-size: 7vw;
  font-weight: bold;
  color: rgb(246, 255, 255);
}

.content #principal {
  background-color: rgba(4, 0, 37, 0.459);
  border-radius: 5%;
  border: 3px solid black;
}

.content p {
  font-size: 4vw;
}

.content #secondary {
  background-color: rgba(0, 37, 31, 0.459);
  border-radius: 5%;
  border: 3px solid black;
}

footer {
  background-color: rgba(20, 20, 24, 0.9);
  border-top: 3px solid aqua;
  box-shadow: 7px blue;
}

footer .container {
  margin: 0 auto;
  padding: 1vw;
  color: rgb(214, 214, 214);

}

footer h4 {
  font-family:'Lobster', cursive;
  font-size: 4vw;
  font-weight: bold;
  text-decoration: underline;
}

footer p {
  font-size: 3vw;
}

footer #copyright {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3vw;
  text-decoration: underline;
  text-align: end;
}

footer #copyright:hover {
  color: rgb(44, 118, 255);

}

/* MEDIA QUERE: MIN 580PX */

@media (min-width: 580px) {

  header .logo{
    margin: 0;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 10vw;
  }
  
  span {
    color: rgb(0, 247, 255); 
    border: 6px double rgb(0, 62, 197);
    border-radius: 15%;
  }
  
  header {
    margin: 0;
    padding: 90px 2px 80px 2px;
    background-color: rgb(0, 0, 40);
    background-image: url("Imgs/img_header");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    border-bottom: 3px solid aqua;
    box-shadow: 7px blue;
  }
  
  header .links {
    padding: 6vw 2px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header .links a {
    padding: 10px 5px;
    text-decoration: none;
    color: rgb(226, 241, 255);
    font-size: 4vw;
    font-weight: bold;
  }
  
  header .nav_x_pag {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  header .nav_x_pag a {
    padding: 0 10px;
    text-decoration: none;
    font-family:'Lobster', cursive;
    color: rgb(107, 201, 255);
    font-size: 4.5vw;
  }

  header #a_menu {
    display: none;
  }

  header #a_content {
    display: none;
  }
  
  header a:hover {
    color: rgb(108, 255, 145);
  }

  /* All menu elements */
  
  .menu {
    margin: 0 auto;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 10%;
    border: 3px solid black;
    width: 70vw;
    height: 45vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .menu p {
    font-size: 2.3vw;
  }
  
  .menu h3 {
    margin-bottom: 40px;
    font-family:'Lobster', cursive;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: rgb(196, 255, 255);
  }

  /* All content elements */
  
  .content {
    margin: 0 2vw;
    padding: 0px 3vw;
    padding-bottom: 3vw;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .content h1 {
    margin-bottom: 2vw;
    font-family:'Lobster', cursive;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(196, 255, 255);
  }
  
  .content h2 {
    margin-bottom: 4vw;
    font-family:'Lobster', cursive;
    font-size: 3.5vw;
    font-weight: bold;
    color: rgb(246, 255, 255);
  }
  
  .content #principal {
    padding: 0 1vw;
    background-color: rgba(4, 0, 37, 0.6);
    border-radius: 5%;
    border: 3px solid black;
  }
  
  .content p {
    margin: 2vw 0;
    padding: 0 1.5vw;
    font-size: 2vw;
  }
  
  .content #secondary {
    padding: 0 10px;
    background-color: rgba(0, 37, 31, 0.6);
    border-radius: 5%;
    border: 3px solid black;
  }

  /* All footer elements */
  
  footer {
    background-color: rgba(20, 20, 24, 0.9);
    border-top: 3px solid aqua;
  }
  
  footer .container {
    margin: 0 auto;
    padding: 1vw;
    color: rgb(214, 214, 214);
  
  }
  
  footer h4 {
    padding: 0 1.5vw;
    font-family:'Lobster', cursive;
    font-size: 2.7vw;
    font-weight: bold;
    text-decoration: underline;
  }
  
  footer p {
    margin: 2vw 0;
    padding: 0 1.5vw;
    font-size: 1.6vw;
  }
  
  footer #copyright {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    text-decoration: underline;
    text-align: end;
  }

  footer #copyright:hover {
    color: aquamarine;
  }


}

 /* MEDIA QUERE: MIN 1200PX */

@media (min-width: 1200px) {

  .container {
    display: block;
    max-width: 1400px;
    max-height: 1080px;
    margin: auto;
  }

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(0, 0, 9);
    background-image: url("Imgs/img_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-attachment: fixed;
  }
  
  body:before {
    content: "header, hero, footer";
    width: 100%;
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    z-index: -1;
  }

  /* All header elements */
  
  header {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 40);
    background-image: url("Imgs/img_header");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    border-bottom: 0.2vw solid aqua;
  }

  header .container {
    margin: 0;
    padding: 1.2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }

  header .logo {
    color: rgb(228, 244, 255);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: initial;
    justify-content: flex-start;
    font-size: 2.1vw;
  }

  span {
    color: rgb(0, 247, 255); 
    border: 0.3vw double rgb(0, 62, 197);
    border-radius: 15%;
  }

  header .links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  header .links a {
    margin: 0;
    padding: 0 0.5vw;
    font-size: 2vw;
  }

  header .nav_x_pag {
    display: none;
  }

  header a:hover {
    color: rgb(234, 0, 255);
  }

  /* Container hero (menu x content)*/
  /* All menu elements */

  .hero {
    margin: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    padding: 0;
    width: 25vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
  }


  .menu h3 {
    margin: 0;
    padding: 0.5vw;
    font-size: 2vw;
  }

  .menu p {
    margin: 0;
    padding: 0.5vw;
    font-size: 1vw
  }

  /* All content elements */

  .content {
    padding: 0;
    width: 65vw;
    height: 40vw;
  }

  .content .container {
    display: flex;
    flex-direction: row;
  }

  .content h1 {
    margin: 0;
    padding: 0.5vw;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .content h2 {
    margin: 0;
    padding: 0.5vw;
    font-size: 1.7vw;
  }

  .content p {
    margin: 0;
    padding: 0.5vw;
    font-size: 1vw;
  }

  .content #principal {
    margin: 0;
    padding: 0;
    width: 35vw;
    max-height: 35vw;
  }

  .content #secondary {
    margin: 0;
    padding: 0;
    width: 25vw;
    max-height: 35vw;
  }

  footer {
    margin: 0;
    padding: 0;
    background-color: rgba(20, 20, 24, 0.9);
    border-top: 0.2vw solid aqua;
    align-items: center;
  }
  
  footer .container {
    color: rgb(214, 214, 214); 
  }
  
  footer h4 {
    padding: 0 0.5vw;
    font-family:'Lobster', cursive;
    font-size: 1.4vw;
    font-weight: bold;
    text-decoration: underline;
  }
  
  footer p {
    margin: 2vw 0;
    padding: 0 0.5vw;
    font-size: 1vw;
  }
  
  footer #copyright {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
    text-decoration: underline;
    text-align: end;
  }

  footer #copyright:hover {
    color: rgb(43, 82, 255);
  }

  hr {
    display: none;
  }

  br {
    display: none;
  }

}